
.editForm {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 5rem auto
}

.editForm-input {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 0.3rem 0rem
}

.editForm-btn {
    padding: 0.5rem;
    cursor: pointer;
    background-color: #0b5468;
    font-weight: 700;
    color: white;
    border: none
}
